<div class="big-menu">
    <div class="close-big-menu">
        <i class="fa fa-times"></i>
    </div>
    <div class="page-title">
        <span></span><a ui-sref="home">Главная</a>
    </div>
    <div class="clearfix">
        <div class="m-menu">
            <span></span><a ui-sref="productsandservices">Продукты и услуги</a>
            <ul>
                <li>
                    <!-- Popovich Create rout fo Credit product on products-credit-tmpl.html -->
                    <span></span><a ui-sref="productsandservices">Кредиты</a>
                </li>
                <li>
                    <span></span><a ui-sref="productsandservices">Депозиты</a>
                </li>
                <li>
                    <span></span><a ui-sref="productsandservices">Карты</a>
                </li>
                <li>
                    <span></span><a href="https://unison24.com.ua/#/login">Интернет банкинг</a>
                </li>
                <li>
                    <span></span><a href="https://www.portmone.com.ua/r3/uk/terminal/">Оплата услуг</a>
                </li>
                <li>
                    <span></span><a ui-sref="safe-rent">Аренда сейфов</a>
                </li>
                <li>
                    <span></span><a href="https://www.portmone.com.ua/r3/uk/perekaz/">Платежи и переводы</a>
                </li>
                <li>
                    <span></span><a href="http://www.unisonbank.com.ua/private/kurs/">Курсы валют</a>
                </li>
                <li>
                    <span></span><a href="javascript:;">Другое</a>
                </li>
            </ul>
        </div>
        <div class="m-menu">
            <span></span><a ui-sref="userprofile">Личный кабинет</a>
            <ul>
                <li>
                    <span></span><a ui-sref="userprofile">Мой профиль</a>
                 </li>
                <li>

                    <span></span><a ui-sref="catalogrequests">Мои заявки</a>
                </li>
                <li>
                    <span></span><a ui-sref="catalognotifications">Уведомления</a>
                </li>
                <li>
                    <span></span><a ui-sref="promocorpcustomers">Мои платежи</a>
                </li>
                <li>
                    <span></span><a href="https://www.portmone.com.ua/r3/uk/perekaz/">Перевод денег</a>
                </li>
            </ul>
        </div>
        <div class="m-menu">
            <span></span><a ui-sref="maininformsection">Информация о банке</a>
            <ul>
                <li>
                    <span></span><a ui-sref="catalognews">Новости</a>
                </li>
                <li>
                    <span></span><a ui-sref="catalogspecialoffers">Акции</a>
                </li>
            </ul>
        </div>
        <div class="m-menu">
            <span></span><a ui-sref="contacts">Контакты и реквизиты</a>
            <ul>
                <li>
                    <span></span><a ui-sref="departmentsmap">Карта отделений, банкоматов и ПТКС</a>
                </li>
            </ul>
        </div>
        <div class="m-menu">
            <span></span><a ui-sref="faq">Вопросы и ответы</a>
        </div>
    </div>
</div>