<div class="top-news">
    <div class="text">
        <h1>
            Главная новость
        </h1>
        <div class="date">11 декабря 3615</div>
        <div class="description">
            Краткое описание главной новости
        </div>
    </div>
</div>
<div class="news-item">
    <div class="container clearfix">
        <div class="img">
            <img src="img/r1.png">
        </div>
        <div class="text">
            <h2>
                Новость
            </h2>
            <div class="date">11 декабря 3615</div>
            <div class="description">
                Краткое описание новости
            </div>
        </div>
    </div>
</div>
<div class="news-item">
    <div class="container clearfix">
        <div class="img">
            <img src="img/r1.png">
        </div>
        <div class="text">
            <h2>
                Новость
            </h2>
            <div class="date">11 декабря 3615</div>
            <div class="description">
                Краткое описание новости
            </div>
        </div>
    </div>
</div>
<div class="news-item">
    <div class="container clearfix">
        <div class="img">
            <img src="img/r1.png">
        </div>
        <div class="text">
            <h2>
                Новость
            </h2>
            <div class="date">11 декабря 3615</div>
            <div class="description">
                Краткое описание новости
            </div>
        </div>
    </div>
</div>