<div class="departments-filter">
    <div class="container clearfix">
        <div class="">
            <h1>Карта отделений и банкоматов</h1>
        </div>
        <div class="show-region left">
            <select>
                <option>все области</option>
                <option>области 1</option>
                <option>области 2</option>
                <option>области 3</option>
                <option>области 4</option>
                <option>области 5</option>
            </select>
        </div>
        <div class="show-type left">
            <select>
                <option>отделение</option>
                <option>атм</option>
                <option>пткс</option>
                <option>партнерские атм</option>
            </select>
        </div>

        <a ng-click="navigate('/departmentsmaplist')" class="btn right">Перейти к просмотру списком</a>

    </div>
</div>
<div class="contacts">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24909.847345567003!2d30.545454439333678!3d50.38917780350933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4d656a6251%3A0x1f966fa7960fa2c9!2z0L_RgNC-0YHQvy4g0J3QsNGD0LrQuCwgMzAsINCa0LjRl9CyLCDQo9C60YDQsNC40L3QsA!5e0!3m2!1sru!2sua!4v1443779722973" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>