<div class="departments-filter">
    <div class="container clearfix">
        <div class="">
            <h1>Карта отделений и банкоматов</h1>
        </div>
        <div class="show-region left">
            <select>
                <option>все области</option>
                <option>области 1</option>
                <option>области 2</option>
                <option>области 3</option>
                <option>области 4</option>
                <option>области 5</option>
            </select>
        </div>
        <div class="show-type left">
            <select>
                <option>отделение</option>
                <option>атм</option>
                <option>пткс</option>
                <option>партнерские атм</option>
            </select>
        </div>

        <a href="javascript:;" class="btn right">Перейти к просмотру списком</a>

    </div>
</div>
<div class="departments-list">
    <div class="container">
        <table>
            <thead>
            <tr>
                <td>Місто</td>
                <td>Назва</td>
                <td>Адреса</td>
                <td>Телефон</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Київ</td>
                <td>Відділення №1 </td>
                <td>пл. Спортивна, 1А</td>
                <td>0 800 300-307 <br> (044) 390-77-07</td>
            </tr>
            <tr>
                <td>Київ</td>
                <td>Відділення №2 </td>
                <td>пр-т Оболонський, 35</td>
                <td>0 800 300-307 <br> (044) 390-77-07</td>
            </tr>
            <tr>
                <td>Львів</td>
                <td>Відділення №1 </td>
                <td>вул. Банківська, 5</td>
                <td>0 800 300-307 <br> (044) 390-77-07</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>