<div class="faq">
    <div class="container">
        <h1>Страница вопросов/ответов</h1>
    </div>
</div>
<div class="faq">
    <div class="container">
        <div class="faq-block">
            <div class="question open">
                Что такое Гаманец?
            </div>
            <div class="answer open">
                <p>История приложений и веб-поиска Google</p>

                <p>В Истории приложений и веб-поиска сохраняются данные о поисковых запросах и ваших действиях в Интернете при условии, что эта функция включена и вы вошли в свой аккаунт Google. На основе этих данных вы получаете более точные результаты и полезные рекомендации в сервисах Google.</p>

                <p>Вы сами решаете, какие данные сохранять, и можете в любое время очистить Историю приложений и веб-поиска или вообще отключить эту функцию.</p>

                <p>Как включить или отключить Историю приложений и веб-поиска</p>
                <p>Откройте страницу истории аккаунта. При необходимости войдите в аккаунт Google.</p>
                <p>Включите или отключите функцию.</p>
                <p>При необходимости установите флажок "Добавлять историю из Chrome и других приложений в Историю приложений и веб-поиска".</p>
            </div>
        </div>
        <div class="faq-block">
            <div class="question">
                Какие еще бывают Гаманцы?
            </div>
            <div class="answer">
                <p>История приложений и веб-поиска Google</p>

                <p>В Истории приложений и веб-поиска сохраняются данные о поисковых запросах и ваших действиях в Интернете при условии, что эта функция включена и вы вошли в свой аккаунт Google. На основе этих данных вы получаете более точные результаты и полезные рекомендации в сервисах Google.</p>

                <p>Вы сами решаете, какие данные сохранять, и можете в любое время очистить Историю приложений и веб-поиска или вообще отключить эту функцию.</p>

                <p>Как включить или отключить Историю приложений и веб-поиска</p>
                <p>Откройте страницу истории аккаунта. При необходимости войдите в аккаунт Google.</p>
                <p>Включите или отключите функцию.</p>
                <p>При необходимости установите флажок "Добавлять историю из Chrome и других приложений в Историю приложений и веб-поиска".</p>
            </div>
        </div>
        <div class="faq-block">
            <div class="question">
                Почему Гаманец круче Кошелька?
            </div>
            <div class="answer">
                <p>История приложений и веб-поиска Google</p>

                <p>В Истории приложений и веб-поиска сохраняются данные о поисковых запросах и ваших действиях в Интернете при условии, что эта функция включена и вы вошли в свой аккаунт Google. На основе этих данных вы получаете более точные результаты и полезные рекомендации в сервисах Google.</p>

                <p>Вы сами решаете, какие данные сохранять, и можете в любое время очистить Историю приложений и веб-поиска или вообще отключить эту функцию.</p>

                <p>Как включить или отключить Историю приложений и веб-поиска</p>
                <p>Откройте страницу истории аккаунта. При необходимости войдите в аккаунт Google.</p>
                <p>Включите или отключите функцию.</p>
                <p>При необходимости установите флажок "Добавлять историю из Chrome и других приложений в Историю приложений и веб-поиска".</p>
            </div>
        </div>
        <div class="faq-block">
            <div class="question">
                Если Кошелек освятить станет ли он Гаманцом?
            </div>
            <div class="answer">
                <p>История приложений и веб-поиска Google</p>

                <p>В Истории приложений и веб-поиска сохраняются данные о поисковых запросах и ваших действиях в Интернете при условии, что эта функция включена и вы вошли в свой аккаунт Google. На основе этих данных вы получаете более точные результаты и полезные рекомендации в сервисах Google.</p>

                <p>Вы сами решаете, какие данные сохранять, и можете в любое время очистить Историю приложений и веб-поиска или вообще отключить эту функцию.</p>

                <p>Как включить или отключить Историю приложений и веб-поиска</p>
                <p>Откройте страницу истории аккаунта. При необходимости войдите в аккаунт Google.</p>
                <p>Включите или отключите функцию.</p>
                <p>При необходимости установите флажок "Добавлять историю из Chrome и других приложений в Историю приложений и веб-поиска".</p>
            </div>
        </div>
        <div class="faq-block">
            <div class="question">
                Можно ли изменить обычный Гаманец на волшебный?
            </div>
            <div class="answer">
                <p>История приложений и веб-поиска Google</p>

                <p>В Истории приложений и веб-поиска сохраняются данные о поисковых запросах и ваших действиях в Интернете при условии, что эта функция включена и вы вошли в свой аккаунт Google. На основе этих данных вы получаете более точные результаты и полезные рекомендации в сервисах Google.</p>

                <p>Вы сами решаете, какие данные сохранять, и можете в любое время очистить Историю приложений и веб-поиска или вообще отключить эту функцию.</p>

                <p>Как включить или отключить Историю приложений и веб-поиска</p>
                <p>Откройте страницу истории аккаунта. При необходимости войдите в аккаунт Google.</p>
                <p>Включите или отключите функцию.</p>
                <p>При необходимости установите флажок "Добавлять историю из Chrome и других приложений в Историю приложений и веб-поиска".</p>
            </div>
        </div>
    </div>
</div>