<div main-slider></div>
<div fast-menu></div>
<div key-advantages></div>
<div class="catalog-products on-main">
    <div class="container clearfix">
        <div class="product-item left clearfix">
            <div class="img left">
                <img src="img/card.png">
            </div>
            <div class="text right">
                <div class="title">
                    Щедрий гаманець
                </div>
                <a ng-click="navigate('/order')" class="btn">Заказать</a>
            </div>
        </div>
        <div class="product-item left clearfix">
            <div class="img left">
                <img src="img/card.png">
            </div>
            <div class="text right">
                <div class="title">
                    Щедрий гаманець
                </div>
                <a ng-click="navigate('/order')" class="btn">Заказать</a>
            </div>
        </div>
    </div>
</div>