<div products-filters></div>

<div class="catalog-products">
    <div class="container clearfix">
        <div ng-repeat="item in products.items | filter: { prod_type_name : topChoice } | filter: { prod_subtype_name : subChoice }" class="product-item left clearfix repeated-item">
            <div class="img left">
                <a ng-href="javascript:;"><img ng-src="img/card.png"></a>
            </div>
            <div class="text right">
                <div class="title">
                    <a target-blank ng-href="{{ item.prod_file_name }}">{{ item.prod_name}}</a>
                </div>
                <a ui-sref="order({ prod_type_id: {{ item.prod_type_id }} })" class="btn">Заказать</a>
            </div>
        </div>
    </div>
</div>