<div class="filters">
    <div class="main-filter ">
        <div class="container clearfix">
            <a href="javascript:;">Карты</a>
            <a href="javascript:;" class="act">Депозиты</a>
            <a href="javascript:;">Кредиты</a>
            <a href="http://www.unisonbank.com.ua/bank/collection/">Инкассация</a>
        </div>
    </div>

    <div class="sub-filter">
        <div class="container clearfix">
            <a href="javascript:;" class="act">Срочные депозиты</a>
            <a href="javascript:;">Мобильный кошелёк</a>
            <a href="javascript:;">Пенсионный депозит</a>
            <a ng-click="navigate('/needs')" class="" style="float:right;">Подобрать</a>
        </div>
    </div>
</div>

<div class="catalog-products">
    <div class="container clearfix">
        <div class="product-item left clearfix">
            <div class="img left">
                <a href="javascript:;"><img ng-src="img/card.png"></a>
            </div>
            <div class="text right">
                <div class="title">
                    <a ng-click="navigate('/productCredit')">Депозит осенний</a>
                </div>
                <a ng-click="navigate('/order')" class="btn">Заказать</a>
            </div>
        </div>