<div class="user-cab-menu">
    <ul class="clearfix">
        <li>
            <a href="javascript:;">Мой профиль</a>
        </li>
        <li>
            <a href="javascript:;">Заявки</a>
        </li>
        <li>
            <a href="javascript:;">Уведомления</a>
        </li>
        <li>
            <a href="javascript:;">Карты</a>
        </li>
        <li>
            <a href="javascript:;">Счета</a>
        </li>
        <li>
            <a href="javascript:;">Перевод денег</a>
        </li>
    </ul>
</div>
<div class="container">
    <h1>Каталог заявок</h1>
</div>
<div class="catalogs-filters">
    <div class="container clearfix">
        <div class="products left">
            <div class="title">Продукт</div>
            <div>
                <input type="checkbox" name="checkboxP1" id="checkboxP1" class="checkbox">
                <label for="checkboxP1" class="css-label">Кредиты</label>
            </div>
            <div>
                <input type="checkbox" name="checkboxP2" id="checkboxP2" class="checkbox">
                <label for="checkboxP2" class="css-label">Депозиты</label>
            </div>
            <div>
                <input type="checkbox" name="checkboxP3" id="checkboxP3" class="checkbox">
                <label for="checkboxP3" class="css-label">Карты</label>
            </div>
        </div>
        <div class="data left">
            <div class="title">Дата</div>
            <select class="data-select">
                <option>последние 5 дней</option>
                <option>последние 10 дней</option>
                <option>последние 30 дней</option>
                <option>за весь период</option>
                <option>конкретную дату</option>
            </select>
            <div class="birth-date">
                <select>
                    <option>1</option>
                    <option>31</option>
                </select>
                <select>
                    <option>1</option>
                    <option>12</option>
                </select>
                <select>
                    <option>1099</option>
                    <option>1199</option>
                </select>
            </div>
        </div>
        <div class="status left">
            <div class="title">Статус</div>
            <div>
                <input type="checkbox" name="checkboxS1" id="checkboxS1" class="checkbox">
                <label for="checkboxS1" class="css-label">в работе</label>
            </div>
            <div>
                <input type="checkbox" name="checkboxS2" id="checkboxS2" class="checkbox">
                <label for="checkboxS2" class="css-label">одобрена</label>
            </div>
            <div>
                <input type="checkbox" name="checkboxS3" id="checkboxS3" class="checkbox">
                <label for="checkboxS3" class="css-label">одобрена с условием</label>
            </div>
            <div>
                <input type="checkbox" name="checkboxS4" id="checkboxS4" class="checkbox">
                <label for="checkboxS4" class="css-label">отклонена</label>
            </div>
        </div>
    </div>
</div>
<div class="departments-list">
    <div class="container">
        <table>
            <thead>
            <tr>
                <td>Номер</td>
                <td>Дата</td>
                <td>Название</td>
                <td>Статус</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>№ 231 </td>
                <td>21.09.2015</td>
                <td>Заявка на оформление карты "Гаманец"</td>
                <td>Одобрена</td>
                <td><a href="javascript" class="btn">Посмотреть</a></td>
            </tr>
            <tr>
                <td>№ 231 </td>
                <td>21.09.2015</td>
                <td>Заявка на оформление карты "Гаманец"</td>
                <td>Одобрена с условием</td>
                <td><a href="javascript" class="btn">Посмотреть</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>