<div class="user-cab-menu">
    <ul class="clearfix">
        <li>
            <a href="javascript:;">Мой профиль</a>
        </li>
        <li>
            <a href="javascript:;">Заявки</a>
        </li>
        <li>
            <a href="javascript:;">Уведомления</a>
        </li>
        <li>
            <a href="javascript:;">Карты</a>
        </li>
        <li>
            <a href="javascript:;">Счета</a>
        </li>
        <li>
            <a href="javascript:;">Перевод денег</a>
        </li>
    </ul>
</div>
<div class="container">
    <h1>Каталог уведомлений </h1>
</div>
<div class="catalogs-filters">
    <div class="container clearfix">

        <div class="data left">
            <div class="title">Дата</div>
            <select class="data-select">
                <option>последние 5 дней</option>
                <option>последние 10 дней</option>
                <option>последние 30 дней</option>
                <option>за весь период</option>
                <option>конкретную дату</option>
            </select>
            <div class="birth-date">
                <select>
                    <option>1</option>
                    <option>31</option>
                </select>
                <select>
                    <option>1</option>
                    <option>12</option>
                </select>
                <select>
                    <option>1099</option>
                    <option>1199</option>
                </select>
            </div>
        </div>
        <div class="status left">
            <div class="title">Статус</div>
            <div>
                <input type="checkbox" name="checkboxS1" id="checkboxS1" class="checkbox">
                <label for="checkboxS1" class="css-label">не прочитана</label>
            </div>
            <div>
                <input type="checkbox" name="checkboxS2" id="checkboxS2" class="checkbox">
                <label for="checkboxS2" class="css-label">прочитана</label>
            </div>
        </div>
    </div>
</div>
<div class="departments-list">
    <div class="container">
        <table>
            <thead>
            <tr>
                <td>Дата</td>
                <td>Название</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>21.09.2015</td>
                <td>Поздравляем Вас с успешной регистрацией в Виртуальном Отделении</td>
                <td><a href="javascript" class="btn">Посмотреть</a></td>
                <td><a href="javascript" class="btn">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>