<div class="spec-offer">
    <div class="text">
        <h2>
            <a href="javascript:;">Акция</a>
        </h2>
    </div>
</div>
<div class="spec-offer">
    <div class="text">
        <h2>
            <a href="javascript:;">Акция2</a>
        </h2>
    </div>
</div>
<div class="spec-offer">
    <div class="text">
        <h2>
            <a href="javascript:;">Акция3</a>
        </h2>
    </div>
</div>
<div class="spec-offer">
    <div class="text">
        <h2>
            <a href="javascript:;">Акция4</a>
        </h2>
    </div>
</div>