<div class="order">
    <div class="container">

        <h1>Оформити заявку</h1>
        <div class="auth-form">
            <form>
                <div class="field">
                    <label>Логин</label>
                    <input type="text" required="">
                </div>
                <div class="field">
                    <label>Пароль</label>
                    <input type="text" class="error" required="">
                    <p class="error">ошибка</p>
                </div>

                <div class="submit">
                    <button class="btn" value="Submit">Авторизироваться</button>
                </div>
            </form>
        </div>

    </div>
    <!-- 19.10 -->
    <!-- ORDER FORM IS INCLUDED HERE -->
    <div order-form></div>
    <!-- ORDER FORM IS INCLUDED HERE -->
    <!-- 19.10 -->
</div>