<div class="product-title">
    <div class="img">
        <img src="img/slider2.jpg">
    </div>
    <div class="texts">
        <div class="title">«Швидкий кредит»</div>
        <div class="description">
            Выдача кредита без справки о доходах <br>
            До 30000 грн. Возможность открытия кредитной карты
        </div>
    </div>
    <div class="scroll-down-arrow"></div>
</div>
<div class="product-advantage type1">
    <div class="container clearfix">
        <div class="img left">
            <img src="img/r1.png">
        </div>
        <div class="text right">
            <h2>Доступ 24/7</h2>
            <div class="descr">
                Мы обеспечиваем Вам доступ к средствам в любом банкомате в любой точке мира за минимальную комиссию. Вы можете как снимать наличные с карты с помощью банкоматов, так и онлайн переводить средства в сети Интернет.
            </div>
        </div>
    </div>
</div>
<div class="product-advantage type2">
    <div class="container clearfix">
        <div class="text left">
            <h2>Бесплатное снятие</h2>
            <div class="descr">
                Снятие средств в кассе Банка – абсолютно бесплатное. Комиссия также не взымается при оплате картой продуктов и услуг в торгово-сервисной сети или сети Интернет.
            </div>
        </div>
        <div class="img right">
            <img src="img/r2.png">
        </div>
    </div>
</div>
<div class="product-advantage type3">
    <div class="container clearfix">
        <div class="text">
            <h2>Повышенный процент на остаток</h2>
            <div class="descr">
                Мы начисляем до 25% годовых в гривне на свободный остаток на Вашей карте. Процент зависит от суммы средств на Вашем счету.
            </div>
        </div>
        <div class="table">
            <table>
                <thead>
                <tr>
                    <td>Начисление процентов на остаток собственных средств клиента на счете</td>
                    <td>Остаток на счету</td>
                    <td>Ставка, годовых</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>По счетам в гривне</td>
                    <td>до 10000 включительно</td>
                    <td>15,00%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>до 10000 включительно</td>
                    <td>15,00%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>до 10000 включительно</td>
                    <td>15,00%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>до 10000 включительно</td>
                    <td>15,00%</td>
                </tr>
                <tr>
                    <td>По счетам в долларах США</td>
                    <td>до 500 включительно </td>
                    <td>5,00%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>до 500 включительно </td>
                    <td>5,00%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>до 500 включительно </td>
                    <td>5,00%</td>
                </tr>
                <tr>
                    <td>По счетам в Евро</td>
                    <td>до 500 включительно </td>
                    <td>3,00%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>до 500 включительно </td>
                    <td>3,00%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>до 500 включительно </td>
                    <td>3,00%</td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<div class="product-advantage type4">
    <div class="container clearfix">
        <div class="img">
            <img src="img/img7.jpg">
        </div>
        <div class="text">
            <h2>Пополнение без ограничений</h2>
            <div class="descr">
                Вы можете бесплатное пополнять свой вклад без ограничений любым удобным для Вас способом: через интернет-банкинг Unison24, в кассе Банка или денежным переводом.
            </div>
        </div>
    </div>
</div>
<div class="product-advantage type5">
    <div class="container clearfix">

        <div class="text ">
            <h2>Ежемесячная выплата процентов</h2>
            <div class="descr">
                Капитализация процентов происходит каждый первый рабочий день календарного месяца.
            </div>
        </div>
        <div class="img ">
            <img src="img/img6.jpg">
        </div>
    </div>
</div>
<div class="product-advantage type6">
    <div class="container clearfix">
        <div class="img">
            <img src="img/img8-600.jpg">
        </div>
        <div class="text">
            <h2>Безопасность и удобство</h2>
            <div class="descr">
                С помощью установленных лимитов на количество операций и максимальную сумму снятия наличных или расчетов в торгово-сервисной сети или сети Интернет Ваши средства максимально защищены от возможного мошенничества. Управлять лимитами Вы можете самостоятельно с помощью интернет-банкинга Unison24 или позвонив в Контакт-Центр Банка по телефону 0800 300 307, который работает круглосуточно и без выходных.
            </div>
        </div>
    </div>
</div>
<div class="product-advantage type7">
    <div class="container clearfix">
        <div class="img ">
            <img src="img/img7-600.jpg">
        </div>
        <div class="text ">
            <h2>Unison24 и SMS-банкинг</h2>
            <div class="descr">
                Вы можете оперативно получать информацию о состоянии Вашего сберегательного счета и руководить им с помощью интернет-банкинга Unison24
            </div>
        </div>
    </div>
</div>
<div class="product-advantage type1">
    <div class="container clearfix">
        <div class="img left">
            <img src="img/r2.png">
        </div>
        <div class="text right">
            <h2>Дополнительные бонусы для карт Gold</h2>
            <div class="descr">
                При оформлении карты Gold каждый клиент бесплатно получает страховой полис для путешествующих за границей или годовое подключение к услуге Консьерж-сервис.
            </div>
        </div>
    </div>
</div>
<div class="product-advantage type2">
    <div class="container clearfix">
        <div class="img right">
            <img src="img/r1.png">
        </div>
        <div class="text left">
            <h2>Отсутствие бюрократических процедур</h2>
            <div class="descr">
                Оформить карту Вы можете в ближайшем отделении Банка или Онлайн с доставкой на дом.<br>
                Необходимые документы – паспорт и ИНН.
            </div>
        </div>
    </div>
</div>

<div class="calculator-block">
    <div class="container clearfix">
        <div class="title">
            Воспользуйтесь калькулятором
        </div>
        <div class="subtitle">
            Специально для Вас мы разработали удобый калькулятор который расчитает Ваш кредит и в реально времени покажет сколько денег нужно вернуть и когда
        </div>
        <div class="slider-block">
            <div class="slider-title">Необходимая сумма:</div>
            <div class="first-number slider-range-number">
                1000
            </div>
            <div class="last-number slider-range-number">
                3000
            </div>
            <div id="slider"></div>
        </div>
    </div>
</div>

<div class="product-footer-block">
    <div class="product-footer">
        <div class="container clearfix">
            <a href="/" class="left other-products-btn">Заказ консультации</a>
            <a ng-click="navigate('/order')" class="btn right">Заказать</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $(".popup-close").click(function(e){
            e.preventDefault();
            $(this).closest('.popup').hide();
        });
        $('.popup .popup-container').click(function(e) {
            e.stopPropagation();
        });
        $('.popup').click(function(e) {
            e.stopPropagation();
            $(this).hide();
        });

        $('.menu-btn').click(function(e) {
            e.preventDefault();
            $('.big-menu').show();
        });
        $('.close-big-menu').click(function(e) {
            e.preventDefault();
            $('.big-menu').hide();
        });

        $('.header .phone').click(function(e) {
            e.preventDefault();
            if( $(this).hasClass('act')){
                $(this).removeClass('act');
                $('.call-popup').hide();
            }else{
                $(this).addClass('act');
                $('.call-popup').show();
            }
        });

        $('.auth-btn').click(function(e) {
            e.preventDefault();
            $('.auth-popup').show();
        });


        $(".slider-main-item.item-anim")
                .mousemove(function(e) {
                    var _thisW = $(this).width();
                    var _coord = parseFloat(-((_thisW - e.clientX)/_thisW * 100 / 10));
                    $(this).find(".bg-img").css('left',_coord+'%')
                })

        $(".needs-main-block")
                .mousemove(function(e) {
                    var _thisW = $(this).width();
                    var _coord = parseFloat(-((_thisW - e.clientX)/_thisW * 100 / 10));
                    $(this).find(".bg-img").css('left',_coord+'%')
                })



        $(".main-slider-block").height($(window).height() - 160);
        $(".needs-main-block").height($(window).height());

        $(".slider-main .slider-main-item").height($(window).height() - 160);

        setTimeout(function(){
            $(".key-advantage .container .text").each(function( i ) {
                var _parentH = $(this).parent().innerHeight();
                var _thisH = $(this).innerHeight();

                var _padding = (_parentH - _thisH)/2;
                $(this).css("padding-top", _padding);
            });
        },500)

        $( window ).resize(function() {
            $(".main-slider-block").height($(window).height() - 160);
            $(".needs-main-block").height($(window).height() - 160);
            $(".slider-main .slider-main-item").height($(window).height() - 160);

            setTimeout(function(){
                $(".key-advantage .container .text").each(function( i ) {
                    var _parentH = $(this).parent().innerHeight();
                    var _thisH = $(this).innerHeight();

                    var _padding = (_parentH - _thisH)/2;
                    $(this).css("padding-top", _padding);
                });
            },2000)

        })


        $('.key-advantage .text').bind('inview', function(event, isInView, visiblePartX, visiblePartY) {
            if (isInView) {
                $(this).addClass('animated');
            }
        });
        $('.key-advantage .img').bind('inview', function(event, isInView, visiblePartX, visiblePartY) {
            if (isInView) {
                $(this).addClass('animated');
            }
        });

        $('.slider-main').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
        });

        $('.spec-offer-slider').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
        });

        $('.desktop-slider').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
        });

        $('.cart-design-slider').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
        });

        $('.scroll-top').click(function() {
            $('body,html').animate({
                scrollTop : 0
            }, 1000, function() {
                productScroll = 0
            });
        });

        $('#needs-btn').click(function(e) {
            e.preventDefault();
            $('body,html').animate({
                scrollTop : $(window).height()
            }, 1000, function() {

            });
        });

        $('.faq-block .question').click(function(e) {
            e.preventDefault();
            if($(this).hasClass("open")){
                $(this).removeClass("open")
                $(this).next().removeClass("open")
            }else{
                $(this).addClass("open")
                $(this).next().addClass("open")
            }
        });

        $(".product-advantage.type1 .text, .product-advantage.type2 .text").each(function( i ) {
            var _parentH = $(this).parent().innerHeight();
            var _thisH = $(this).innerHeight();

            var _padding = (_parentH - _thisH)/2;
            $(this).css("padding-top", _padding);
        });

        $('.product-advantage .text').bind('inview', function(event, isInView, visiblePartX, visiblePartY) {
            if (isInView) {
                $(this).addClass('animated');
            }
        });
        $('.product-advantage .img').bind('inview', function(event, isInView, visiblePartX, visiblePartY) {
            if (isInView) {
                $(this).addClass('animated');
            }
        });


        $( "#slider" ).slider({
            range: "min",
            value:2000,
            min: 1000,
            max: 3000,
            step: 50,
            slide: function( event, ui ) {
                //$( "#amount" ).val( "$" + ui.value );
            }
        });

        $("#dp-birthdate").datepicker({
            showOn: "button",
            buttonImage: "img/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date"
        });
        $("#dp-passdate").datepicker({
            showOn: "button",
            buttonImage: "img/calendar.png",
            buttonImageOnly: true,
            buttonText: "Select date"
        });



        $(window).scroll(function() {
            var windowpos = $(window).scrollTop();

            if (windowpos > $(window).height()) {
                $('.scroll-top').show();
            }else {
                $('.scroll-top').hide();
            }

            if (windowpos > 80 && $(".user-cab-menu").length) {
                $(".user-cab-menu").addClass("fixed");
                $(".header").addClass("fixed");
            }else{
                $(".user-cab-menu").removeClass("fixed");
                $(".header").removeClass("fixed");
            }
        })
    });
</script>