<div class="container">
    <h1>Мой профиль</h1>
</div>
<div class="profile-block">
    <div class="container clearfix">
        <div class="user-info left">
            <form>
                <label>Фамилия</label>
                <input type="text" placeholder="Введите фамилию">
                <label>Имя</label>
                <input type="text" placeholder="Введите имя" value="Аристарх">
                <label>Отчество</label>
                <input type="text" placeholder="Введите отчество">
                <label>Телефон</label>
                <input type="text" placeholder="Номер телефона" >
                <label>Дополнительный телефон</label>
                <input type="text" placeholder="Номер телефона">
                <div class="birth-date">
                    <label>Дата рождения</label>
                    <select>
                        <option>1</option>
                        <option>31</option>
                    </select>
                    <select>
                        <option>1</option>
                        <option>12</option>
                    </select>
                    <select>
                        <option>1099</option>
                        <option>1199</option>
                    </select>
                </div>
                <button class="btn">Save</button>
            </form>
        </div>
        <div class="user-properties left">
            <form>
                <div>
                    <label>Как к вам обращаться</label>
                    <input type="text" placeholder="Например, Пан" value="">
                </div>
                <div>
                    <input type="checkbox" name="checkboxN1" id="checkboxN1" class="checkbox">
                    <label for="checkboxN1" class="css-label">Отправка на указанный e-mail уведомлений о совершенных входах в ВО</label>
                </div>
                <div>
                    <input type="checkbox" name="checkboxN2" id="checkboxN2" class="checkbox">
                    <label for="checkboxN2" class="css-label">функции входа в систему с дополнительным введением одноразового пароля</label>
                </div>
                <div>
                    <input type="checkbox" name="checkboxN3" id="checkboxN3" class="checkbox">
                    <label for="checkboxN3" class="css-label">функции СМС информирования об авторизации в ВО</label>
                </div>
                <div>
                    <label>e-mail адреса для получения от банка уведомлений</label>
                    <input type="text" value="test@test.com">
                </div>
                <div>
                    <label>«Почтовый ящик» - адресная рассылка сообщений банка</label>
                    <input type="text" value="test@test.com">
                </div>
                <div>
                    <label>Старый пароль</label>
                    <input type="text" >
                    <label>Новый пароль</label>
                    <input type="text">
                </div>
            </form>
        </div>
    </div>
</div>